name: Deploy Project
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The SEMVER target release version'
        required: true
        type: string
jobs:
    validate:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Validate
          uses: ./.github/actions/validate
          with:
            tag-name: ${{ github.event.inputs.version }}
    build:
      runs-on: ubuntu-latest
      needs: validate
      steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build and push
          uses: docker/build-push-action@v4
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/validate-cloud-release:${{ github.event.inputs.version }}
    make-release:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Create New Release
          uses: ./.github/actions/create-release
          with:
            owner: ${{ github.repository_owner }}
            repo: ${{ github.event.repository.name }}
            tag-name: ${{ github.event.inputs.version }}
            myToken: ${{ secrets.GITHUB_TOKEN }}